.footer
{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    background-color: skyblue;
    padding: 1%;
    color: peachpuff;
    text-decoration: none;  
}

.footer h3{
    font-family: cursive;
}
.footer a{
    color: white;
}