.App {
  text-align: center;
}

.wholePage{
  display: flex;
  flex-direction: column;
}
.search-and-list{
  display: flex;
  flex-direction: row;
}

.partOne{
  width:20%;
}
.partTwo{
  width:80%;
}